<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.fido.cardScanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="uz.scan_card.cardscan.base.ScanActivityImpl"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen" />
    </application>
</manifest>

